<header>
    <img [src]="imagePath" alt="img"> 
    <div class="container">
        <a routerLink="/" class="logo">{{ appTitle }}</a>
        <nav>
            <ul>
                <li><a routerLink="/" class="">Home</a></li>
                <li><a routerLink="/team" class="">Team</a></li>
                <li><a routerLink="/employee" class="">Employee</a></li>
                <li><a routerLink="/utility" class="">Utility</a></li>
                <li><a routerLink="/about" class="">About</a></li>
                <li><a routerLink="/contact" class="">Contact us</a></li>
               
               
            </ul>
        </nav>
    </div>
</header>